<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вхід</title>
</head>
<body>
<h1>Вхід</h1>
<form th:action="@{/login}" method="post">
    <label for="username">Ім'я користувача:</label>
    <input type="text" id="username" name="username" required>
    <br>
    <label for="password">Пароль:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <button type="submit">Увійти</button>
</form>
</body>
</html>